*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(51, 102, 102);
    transition: all 0.6s;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 50px;
}
.name{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(240, 179, 27);
}
.navbar{
    margin: 3vmin auto;
    margin-right: 40vmin;
    align-items: center;
    display: flex;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: cursive;
    padding: 5px 20px;
    border: none;
    border-radius: 6px;
    background-color: rgb(235, 229, 229);
    color: black;
    box-shadow: 0px 0px 15px;
    margin-left: 10px;
}
.navbar a:hover{
    background-color: #dcd8d86f;
    color: rgb(12, 3, 3);
    box-shadow: 0px 5px 15px;
    transition: all 0.6s;

}
#setbgcolor{
 border: none;
 border-radius: 20px;
 background-color: darkslategray;
 width: 10vmin;
 height: 4vmin;
}
#setbgcolor:hover{
  cursor: pointer;
}
.colorset{
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px 10px;
    margin-left: 5vmin;
}

/* mid part  */
#mainPoint{
    color: rgb(147, 101, 49);
    text-shadow: 2px 2px 8px black;
}
.mid{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-around;
    margin: 0px auto;
    font-family: cursive;
}
.imgpart {
    margin-top: -20vmin;
    border-radius: 50px;
}
#setimg{
    border-radius: 60px 52px 0px 65px;
    height: 60vmin;
    width: 55vmin;
    margin-left: 10vmin;
    transition: all .9s ease-in-out;
    transform: rotate(-10deg);
}
#setimg:hover{
    border-radius: 0px 72px 0px 0px;
    transform: rotate(0deg);
}
.about{
    color: white;
    flex-wrap: wrap;
    text-shadow: 1px 1px 5px black;
    max-width: 110vmin;
    margin-top: 60vmin;
    margin-left: 10vmin;
}
.about h1{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
}
.bio{
    font-weight: 600;
    margin: 12px 0px;
    font-size: 1.5rem;
}
/* Social_Media  */
.socialMedia{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2rem auto;
    margin-left: 13vmin;
}
.socialMedia a{
    margin: 0px 1.5vmin;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(13, 13, 51);
    color: white;
    font-size: 1.5rem;
}
.socialMedia a i{
    border: none;
    border-radius: 100px;
    padding: .5rem .6rem;
}
.socialMedia a i:hover{
    color: rgb(239, 22, 22);
    /* transform:translateY(-10px); */
    transition: all .6s;
}
.btn{
    background-color: rgb(112, 68, 14);
    color: white;
    margin-left: 13vmin;
    margin-top: 3vmin;
    padding: 10px 8vmin;
    border: none;
    border-radius: 12px;
    font-size: 1.2rem;
    text-shadow: 1px 0px 1px black;
}
.btn:hover{
    background-color: rgb(147, 94, 28);
    color: rgb(3, 3, 66);
    cursor: pointer;
}
.footerpart{
    background-color: rgb(25, 23, 23);
    color: white;
    position: sticky;
    height: 10vmin;
    margin-top: 18vmin;
    justify-content: space-around;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}